@keyframes sunRise {
    0% {
        left: 0%;
        top: calc(100% - 0%);
        width: calc(2rem + (7rem * 0 / 50));
        height: calc(2rem + (7rem * 0 / 50));
        opacity: calc(.6 + (.4 * 0/50));
    }

    1% {
        left: 1%;
        top: calc(100% - 3.14%);
        width: calc(2rem + (7rem * 1 / 50));
        height: calc(2rem + (7rem * 1 / 50));
        opacity: calc(.6 + (.4 * 1/50));
    }

    2% {
        left: 2%;
        top: calc(100% - 6.28%);
        width: calc(2rem + (7rem * 2 / 50));
        height: calc(2rem + (7rem * 2 / 50));
        opacity: calc(.6 + (.4 * 2/50));
    }

    3% {
        left: 3%;
        top: calc(100% - 9.41%);
        width: calc(2rem + (7rem * 3 / 50));
        height: calc(2rem + (7rem * 3 / 50));
        opacity: calc(.6 + (.4 * 3/50));
    }

    4% {
        left: 4%;
        top: calc(100% - 12.53%);
        width: calc(2rem + (7rem * 4 / 50));
        height: calc(2rem + (7rem * 4 / 50));
        opacity: calc(.6 + (.4 * 4/50));
    }

    5% {
        left: 5%;
        top: calc(100% - 15.64%);
        width: calc(2rem + (7rem * 5 / 50));
        height: calc(2rem + (7rem * 5 / 50));
        opacity: calc(.6 + (.4 * 5/50));
    }

    6% {
        left: 6%;
        top: calc(100% - 18.74%);
        width: calc(2rem + (7rem * 6 / 50));
        height: calc(2rem + (7rem * 6 / 50));
        opacity: calc(.6 + (.4 * 6/50));
    }

    7% {
        left: 7%;
        top: calc(100% - 21.81%);
        width: calc(2rem + (7rem * 7 / 50));
        height: calc(2rem + (7rem * 7 / 50));
        opacity: calc(.6 + (.4 * 7/50));
    }

    8% {
        left: 8%;
        top: calc(100% - 24.87%);
        width: calc(2rem + (7rem * 8 / 50));
        height: calc(2rem + (7rem * 8 / 50));
        opacity: calc(.6 + (.4 * 8/50));
    }

    9% {
        left: 9%;
        top: calc(100% - 27.9%);
        width: calc(2rem + (7rem * 9 / 50));
        height: calc(2rem + (7rem * 9 / 50));
        opacity: calc(.6 + (.4 * 9/50));
    }

    10% {
        left: 10%;
        top: calc(100% - 30.9%);
        width: calc(2rem + (7rem * 10 / 50));
        height: calc(2rem + (7rem * 10 / 50));
        opacity: calc(.6 + (.4 * 10/50));
    }

    11% {
        left: 11%;
        top: calc(100% - 33.87%);
        width: calc(2rem + (7rem * 11 / 50));
        height: calc(2rem + (7rem * 11 / 50));
        opacity: calc(.6 + (.4 * 11/50));
    }

    12% {
        left: 12%;
        top: calc(100% - 36.81%);
        width: calc(2rem + (7rem * 12 / 50));
        height: calc(2rem + (7rem * 12 / 50));
        opacity: calc(.6 + (.4 * 12/50));
    }

    13% {
        left: 13%;
        top: calc(100% - 39.71%);
        width: calc(2rem + (7rem * 13 / 50));
        height: calc(2rem + (7rem * 13 / 50));
        opacity: calc(.6 + (.4 * 13/50));
    }

    14% {
        left: 14%;
        top: calc(100% - 42.58%);
        width: calc(2rem + (7rem * 14 / 50));
        height: calc(2rem + (7rem * 14 / 50));
        opacity: calc(.6 + (.4 * 14/50));
    }

    15% {
        left: 15%;
        top: calc(100% - 45.4%);
        width: calc(2rem + (7rem * 15 / 50));
        height: calc(2rem + (7rem * 15 / 50));
        opacity: calc(.6 + (.4 * 15/50));
    }

    16% {
        left: 16%;
        top: calc(100% - 48.18%);
        width: calc(2rem + (7rem * 16 / 50));
        height: calc(2rem + (7rem * 16 / 50));
        opacity: calc(.6 + (.4 * 16/50));
    }

    17% {
        left: 17%;
        top: calc(100% - 50.9%);
        width: calc(2rem + (7rem * 17 / 50));
        height: calc(2rem + (7rem * 17 / 50));
        opacity: calc(.6 + (.4 * 17/50));
    }

    18% {
        left: 18%;
        top: calc(100% - 53.58%);
        width: calc(2rem + (7rem * 18 / 50));
        height: calc(2rem + (7rem * 18 / 50));
        opacity: calc(.6 + (.4 * 18/50));
    }

    19% {
        left: 19%;
        top: calc(100% - 56.21%);
        width: calc(2rem + (7rem * 19 / 50));
        height: calc(2rem + (7rem * 19 / 50));
        opacity: calc(.6 + (.4 * 19/50));
    }

    20% {
        left: 20%;
        top: calc(100% - 58.78%);
        width: calc(2rem + (7rem * 20 / 50));
        height: calc(2rem + (7rem * 20 / 50));
        opacity: calc(.6 + (.4 * 20/50));
    }

    21% {
        left: 21%;
        top: calc(100% - 61.29%);
        width: calc(2rem + (7rem * 21 / 50));
        height: calc(2rem + (7rem * 21 / 50));
        opacity: calc(.6 + (.4 * 21/50));
    }

    22% {
        left: 22%;
        top: calc(100% - 63.74%);
        width: calc(2rem + (7rem * 22 / 50));
        height: calc(2rem + (7rem * 22 / 50));
        opacity: calc(.6 + (.4 * 22/50));
    }

    23% {
        left: 23%;
        top: calc(100% - 66.13%);
        width: calc(2rem + (7rem * 23 / 50));
        height: calc(2rem + (7rem * 23 / 50));
        opacity: calc(.6 + (.4 * 23/50));
    }

    24% {
        left: 24%;
        top: calc(100% - 68.45%);
        width: calc(2rem + (7rem * 24 / 50));
        height: calc(2rem + (7rem * 24 / 50));
        opacity: calc(.6 + (.4 * 24/50));
    }

    25% {
        left: 25%;
        top: calc(100% - 70.71%);
        width: calc(2rem + (7rem * 25 / 50));
        height: calc(2rem + (7rem * 25 / 50));
        opacity: calc(.6 + (.4 * 25/50));
    }

    26% {
        left: 26%;
        top: calc(100% - 72.9%);
        width: calc(2rem + (7rem * 26 / 50));
        height: calc(2rem + (7rem * 26 / 50));
        opacity: calc(.6 + (.4 * 26/50));
    }

    27% {
        left: 27%;
        top: calc(100% - 75.01%);
        width: calc(2rem + (7rem * 27 / 50));
        height: calc(2rem + (7rem * 27 / 50));
        opacity: calc(.6 + (.4 * 27/50));
    }

    28% {
        left: 28%;
        top: calc(100% - 77.05%);
        width: calc(2rem + (7rem * 28 / 50));
        height: calc(2rem + (7rem * 28 / 50));
        opacity: calc(.6 + (.4 * 28/50));
    }

    29% {
        left: 29%;
        top: calc(100% - 79.02%);
        width: calc(2rem + (7rem * 29 / 50));
        height: calc(2rem + (7rem * 29 / 50));
        opacity: calc(.6 + (.4 * 29/50));
    }

    30% {
        left: 30%;
        top: calc(100% - 80.9%);
        width: calc(2rem + (7rem * 30 / 50));
        height: calc(2rem + (7rem * 30 / 50));
        opacity: calc(.6 + (.4 * 30/50));
    }

    31% {
        left: 31%;
        top: calc(100% - 82.71%);
        width: calc(2rem + (7rem * 31 / 50));
        height: calc(2rem + (7rem * 31 / 50));
        opacity: calc(.6 + (.4 * 31/50));
    }

    32% {
        left: 32%;
        top: calc(100% - 84.43%);
        width: calc(2rem + (7rem * 32 / 50));
        height: calc(2rem + (7rem * 32 / 50));
        opacity: calc(.6 + (.4 * 32/50));
    }

    33% {
        left: 33%;
        top: calc(100% - 86.07%);
        width: calc(2rem + (7rem * 33 / 50));
        height: calc(2rem + (7rem * 33 / 50));
        opacity: calc(.6 + (.4 * 33/50));
    }

    34% {
        left: 34%;
        top: calc(100% - 87.63%);
        width: calc(2rem + (7rem * 34 / 50));
        height: calc(2rem + (7rem * 34 / 50));
        opacity: calc(.6 + (.4 * 34/50));
    }

    35% {
        left: 35%;
        top: calc(100% - 89.1%);
        width: calc(2rem + (7rem * 35 / 50));
        height: calc(2rem + (7rem * 35 / 50));
        opacity: calc(.6 + (.4 * 35/50));
    }

    36% {
        left: 36%;
        top: calc(100% - 90.48%);
        width: calc(2rem + (7rem * 36 / 50));
        height: calc(2rem + (7rem * 36 / 50));
        opacity: calc(.6 + (.4 * 36/50));
    }

    37% {
        left: 37%;
        top: calc(100% - 91.78%);
        width: calc(2rem + (7rem * 37 / 50));
        height: calc(2rem + (7rem * 37 / 50));
        opacity: calc(.6 + (.4 * 37/50));
    }

    38% {
        left: 38%;
        top: calc(100% - 92.98%);
        width: calc(2rem + (7rem * 38 / 50));
        height: calc(2rem + (7rem * 38 / 50));
        opacity: calc(.6 + (.4 * 38/50));
    }

    39% {
        left: 39%;
        top: calc(100% - 94.09%);
        width: calc(2rem + (7rem * 39 / 50));
        height: calc(2rem + (7rem * 39 / 50));
        opacity: calc(.6 + (.4 * 39/50));
    }

    40% {
        left: 40%;
        top: calc(100% - 95.11%);
        width: calc(2rem + (7rem * 40 / 50));
        height: calc(2rem + (7rem * 40 / 50));
        opacity: calc(.6 + (.4 * 40/50));
    }

    41% {
        left: 41%;
        top: calc(100% - 96.03%);
        width: calc(2rem + (7rem * 41 / 50));
        height: calc(2rem + (7rem * 41 / 50));
        opacity: calc(.6 + (.4 * 41/50));
    }

    42% {
        left: 42%;
        top: calc(100% - 96.86%);
        width: calc(2rem + (7rem * 42 / 50));
        height: calc(2rem + (7rem * 42 / 50));
        opacity: calc(.6 + (.4 * 42/50));
    }

    43% {
        left: 43%;
        top: calc(100% - 97.59%);
        width: calc(2rem + (7rem * 43 / 50));
        height: calc(2rem + (7rem * 43 / 50));
        opacity: calc(.6 + (.4 * 43/50));
    }

    44% {
        left: 44%;
        top: calc(100% - 98.23%);
        width: calc(2rem + (7rem * 44 / 50));
        height: calc(2rem + (7rem * 44 / 50));
        opacity: calc(.6 + (.4 * 44/50));
    }

    45% {
        left: 45%;
        top: calc(100% - 98.77%);
        width: calc(2rem + (7rem * 45 / 50));
        height: calc(2rem + (7rem * 45 / 50));
        opacity: calc(.6 + (.4 * 45/50));
    }

    46% {
        left: 46%;
        top: calc(100% - 99.21%);
        width: calc(2rem + (7rem * 46 / 50));
        height: calc(2rem + (7rem * 46 / 50));
        opacity: calc(.6 + (.4 * 46/50));
    }

    47% {
        left: 47%;
        top: calc(100% - 99.56%);
        width: calc(2rem + (7rem * 47 / 50));
        height: calc(2rem + (7rem * 47 / 50));
        opacity: calc(.6 + (.4 * 47/50));
    }

    48% {
        left: 48%;
        top: calc(100% - 99.8%);
        width: calc(2rem + (7rem * 48 / 50));
        height: calc(2rem + (7rem * 48 / 50));
        opacity: calc(.6 + (.4 * 48/50));
    }

    49% {
        left: 49%;
        top: calc(100% - 99.95%);
        width: calc(2rem + (7rem * 49 / 50));
        height: calc(2rem + (7rem * 49 / 50));
        opacity: calc(.6 + (.4 * 49/50));
    }

    50% {
        left: 50%;
        top: calc(100% - 100%);
        width: calc(2rem + (7rem * 50 / 50));
        height: calc(2rem + (7rem * 50 / 50));
        opacity: calc(.6 + (.4 * 50/50));
    }

    51% {
        left: 51%;
        top: calc(100% - 99.95%);
        width: calc(2rem + (7rem * 49 / 50));
        height: calc(2rem + (7rem * 49 / 50));
        opacity: calc(.6 + (.4 * 49/50));
    }

    52% {
        left: 52%;
        top: calc(100% - 99.8%);
        width: calc(2rem + (7rem * 48 / 50));
        height: calc(2rem + (7rem * 48 / 50));
        opacity: calc(.6 + (.4 * 48/50));
    }

    53% {
        left: 53%;
        top: calc(100% - 99.56%);
        width: calc(2rem + (7rem * 47 / 50));
        height: calc(2rem + (7rem * 47 / 50));
        opacity: calc(.6 + (.4 * 47/50));
    }

    54% {
        left: 54%;
        top: calc(100% - 99.21%);
        width: calc(2rem + (7rem * 46 / 50));
        height: calc(2rem + (7rem * 46 / 50));
        opacity: calc(.6 + (.4 * 46/50));
    }

    55% {
        left: 55%;
        top: calc(100% - 98.77%);
        width: calc(2rem + (7rem * 45 / 50));
        height: calc(2rem + (7rem * 45 / 50));
        opacity: calc(.6 + (.4 * 45/50));
    }

    56% {
        left: 56%;
        top: calc(100% - 98.23%);
        width: calc(2rem + (7rem * 44 / 50));
        height: calc(2rem + (7rem * 44 / 50));
        opacity: calc(.6 + (.4 * 44/50));
    }

    57% {
        left: 57%;
        top: calc(100% - 97.59%);
        width: calc(2rem + (7rem * 43 / 50));
        height: calc(2rem + (7rem * 43 / 50));
        opacity: calc(.6 + (.4 * 43/50));
    }

    58% {
        left: 58%;
        top: calc(100% - 96.86%);
        width: calc(2rem + (7rem * 42 / 50));
        height: calc(2rem + (7rem * 42 / 50));
        opacity: calc(.6 + (.4 * 42/50));
    }

    59% {
        left: 59%;
        top: calc(100% - 96.03%);
        width: calc(2rem + (7rem * 41 / 50));
        height: calc(2rem + (7rem * 41 / 50));
        opacity: calc(.6 + (.4 * 41/50));
    }

    60% {
        left: 60%;
        top: calc(100% - 95.11%);
        width: calc(2rem + (7rem * 40 / 50));
        height: calc(2rem + (7rem * 40 / 50));
        opacity: calc(.6 + (.4 * 40/50));
    }

    61% {
        left: 61%;
        top: calc(100% - 94.09%);
        width: calc(2rem + (7rem * 39 / 50));
        height: calc(2rem + (7rem * 39 / 50));
        opacity: calc(.6 + (.4 * 39/50));
    }

    62% {
        left: 62%;
        top: calc(100% - 92.98%);
        width: calc(2rem + (7rem * 38 / 50));
        height: calc(2rem + (7rem * 38 / 50));
        opacity: calc(.6 + (.4 * 38/50));
    }

    63% {
        left: 63%;
        top: calc(100% - 91.78%);
        width: calc(2rem + (7rem * 37 / 50));
        height: calc(2rem + (7rem * 37 / 50));
        opacity: calc(.6 + (.4 * 37/50));
    }

    64% {
        left: 64%;
        top: calc(100% - 90.48%);
        width: calc(2rem + (7rem * 36 / 50));
        height: calc(2rem + (7rem * 36 / 50));
        opacity: calc(.6 + (.4 * 36/50));
    }

    65% {
        left: 65%;
        top: calc(100% - 89.1%);
        width: calc(2rem + (7rem * 35 / 50));
        height: calc(2rem + (7rem * 35 / 50));
        opacity: calc(.6 + (.4 * 35/50));
    }

    66% {
        left: 66%;
        top: calc(100% - 87.63%);
        width: calc(2rem + (7rem * 34 / 50));
        height: calc(2rem + (7rem * 34 / 50));
        opacity: calc(.6 + (.4 * 34/50));
    }

    67% {
        left: 67%;
        top: calc(100% - 86.07%);
        width: calc(2rem + (7rem * 33 / 50));
        height: calc(2rem + (7rem * 33 / 50));
        opacity: calc(.6 + (.4 * 33/50));
    }

    68% {
        left: 68%;
        top: calc(100% - 84.43%);
        width: calc(2rem + (7rem * 32 / 50));
        height: calc(2rem + (7rem * 32 / 50));
        opacity: calc(.6 + (.4 * 32/50));
    }

    69% {
        left: 69%;
        top: calc(100% - 82.71%);
        width: calc(2rem + (7rem * 31 / 50));
        height: calc(2rem + (7rem * 31 / 50));
        opacity: calc(.6 + (.4 * 31/50));
    }

    70% {
        left: 70%;
        top: calc(100% - 80.9%);
        width: calc(2rem + (7rem * 30 / 50));
        height: calc(2rem + (7rem * 30 / 50));
        opacity: calc(.6 + (.4 * 30/50));
    }

    71% {
        left: 71%;
        top: calc(100% - 79.02%);
        width: calc(2rem + (7rem * 29 / 50));
        height: calc(2rem + (7rem * 29 / 50));
        opacity: calc(.6 + (.4 * 29/50));
    }

    72% {
        left: 72%;
        top: calc(100% - 77.05%);
        width: calc(2rem + (7rem * 28 / 50));
        height: calc(2rem + (7rem * 28 / 50));
        opacity: calc(.6 + (.4 * 28/50));
    }

    73% {
        left: 73%;
        top: calc(100% - 75.01%);
        width: calc(2rem + (7rem * 27 / 50));
        height: calc(2rem + (7rem * 27 / 50));
        opacity: calc(.6 + (.4 * 27/50));
    }

    74% {
        left: 74%;
        top: calc(100% - 72.9%);
        width: calc(2rem + (7rem * 26 / 50));
        height: calc(2rem + (7rem * 26 / 50));
        opacity: calc(.6 + (.4 * 26/50));
    }

    75% {
        left: 75%;
        top: calc(100% - 70.71%);
        width: calc(2rem + (7rem * 25 / 50));
        height: calc(2rem + (7rem * 25 / 50));
        opacity: calc(.6 + (.4 * 25/50));
    }

    76% {
        left: 76%;
        top: calc(100% - 68.45%);
        width: calc(2rem + (7rem * 24 / 50));
        height: calc(2rem + (7rem * 24 / 50));
        opacity: calc(.6 + (.4 * 24/50));
    }

    77% {
        left: 77%;
        top: calc(100% - 66.13%);
        width: calc(2rem + (7rem * 23 / 50));
        height: calc(2rem + (7rem * 23 / 50));
        opacity: calc(.6 + (.4 * 23/50));
    }

    78% {
        left: 78%;
        top: calc(100% - 63.74%);
        width: calc(2rem + (7rem * 22 / 50));
        height: calc(2rem + (7rem * 22 / 50));
        opacity: calc(.6 + (.4 * 22/50));
    }

    79% {
        left: 79%;
        top: calc(100% - 61.29%);
        width: calc(2rem + (7rem * 21 / 50));
        height: calc(2rem + (7rem * 21 / 50));
        opacity: calc(.6 + (.4 * 21/50));
    }

    80% {
        left: 80%;
        top: calc(100% - 58.78%);
        width: calc(2rem + (7rem * 20 / 50));
        height: calc(2rem + (7rem * 20 / 50));
        opacity: calc(.6 + (.4 * 20/50));
    }

    81% {
        left: 81%;
        top: calc(100% - 56.21%);
        width: calc(2rem + (7rem * 19 / 50));
        height: calc(2rem + (7rem * 19 / 50));
        opacity: calc(.6 + (.4 * 19/50));
    }

    82% {
        left: 82%;
        top: calc(100% - 53.58%);
        width: calc(2rem + (7rem * 18 / 50));
        height: calc(2rem + (7rem * 18 / 50));
        opacity: calc(.6 + (.4 * 18/50));
    }

    83% {
        left: 83%;
        top: calc(100% - 50.9%);
        width: calc(2rem + (7rem * 17 / 50));
        height: calc(2rem + (7rem * 17 / 50));
        opacity: calc(.6 + (.4 * 17/50));
    }

    84% {
        left: 84%;
        top: calc(100% - 48.18%);
        width: calc(2rem + (7rem * 16 / 50));
        height: calc(2rem + (7rem * 16 / 50));
        opacity: calc(.6 + (.4 * 16/50));
    }

    85% {
        left: 85%;
        top: calc(100% - 45.4%);
        width: calc(2rem + (7rem * 15 / 50));
        height: calc(2rem + (7rem * 15 / 50));
        opacity: calc(.6 + (.4 * 15/50));
    }

    86% {
        left: 86%;
        top: calc(100% - 42.58%);
        width: calc(2rem + (7rem * 14 / 50));
        height: calc(2rem + (7rem * 14 / 50));
        opacity: calc(.6 + (.4 * 14/50));
    }

    87% {
        left: 87%;
        top: calc(100% - 39.71%);
        width: calc(2rem + (7rem * 13 / 50));
        height: calc(2rem + (7rem * 13 / 50));
        opacity: calc(.6 + (.4 * 13/50));
    }

    88% {
        left: 88%;
        top: calc(100% - 36.81%);
        width: calc(2rem + (7rem * 12 / 50));
        height: calc(2rem + (7rem * 12 / 50));
        opacity: calc(.6 + (.4 * 12/50));
    }

    89% {
        left: 89%;
        top: calc(100% - 33.87%);
        width: calc(2rem + (7rem * 11 / 50));
        height: calc(2rem + (7rem * 11 / 50));
        opacity: calc(.6 + (.4 * 11/50));
    }

    90% {
        left: 90%;
        top: calc(100% - 30.9%);
        width: calc(2rem + (7rem * 10 / 50));
        height: calc(2rem + (7rem * 10 / 50));
        opacity: calc(.6 + (.4 * 10/50));
    }

    91% {
        left: 91%;
        top: calc(100% - 27.9%);
        width: calc(2rem + (7rem * 9 / 50));
        height: calc(2rem + (7rem * 9 / 50));
        opacity: calc(.6 + (.4 * 9/50));
    }

    92% {
        left: 92%;
        top: calc(100% - 24.87%);
        width: calc(2rem + (7rem * 8 / 50));
        height: calc(2rem + (7rem * 8 / 50));
        opacity: calc(.6 + (.4 * 8/50));
    }

    93% {
        left: 93%;
        top: calc(100% - 21.81%);
        width: calc(2rem + (7rem * 7 / 50));
        height: calc(2rem + (7rem * 7 / 50));
        opacity: calc(.6 + (.4 * 7/50));
    }

    94% {
        left: 94%;
        top: calc(100% - 18.74%);
        width: calc(2rem + (7rem * 6 / 50));
        height: calc(2rem + (7rem * 6 / 50));
        opacity: calc(.6 + (.4 * 6/50));
    }

    95% {
        left: 95%;
        top: calc(100% - 15.64%);
        width: calc(2rem + (7rem * 5 / 50));
        height: calc(2rem + (7rem * 5 / 50));
        opacity: calc(.6 + (.4 * 5/50));
    }

    96% {
        left: 96%;
        top: calc(100% - 12.53%);
        width: calc(2rem + (7rem * 4 / 50));
        height: calc(2rem + (7rem * 4 / 50));
        opacity: calc(.6 + (.4 * 4/50));
    }

    97% {
        left: 97%;
        top: calc(100% - 9.41%);
        width: calc(2rem + (7rem * 3 / 50));
        height: calc(2rem + (7rem * 3 / 50));
        opacity: calc(.6 + (.4 * 3/50));
    }

    98% {
        left: 98%;
        top: calc(100% - 6.28%);
        width: calc(2rem + (7rem * 2 / 50));
        height: calc(2rem + (7rem * 2 / 50));
        opacity: calc(.6 + (.4 * 2/50));
    }

    99% {
        left: 99%;
        top: calc(100% - 3.14%);
        width: calc(2rem + (7rem * 1 / 50));
        height: calc(2rem + (7rem * 1 / 50));
        opacity: calc(.6 + (.4 * 1/50));
    }

    100% {
        left: 100%;
        top: calc(100% - 0%);
        width: calc(2rem + (7rem * 0 / 50));
        height: calc(2rem + (7rem * 0 / 50));
        opacity: calc(.6 + (.4 * 0/50));
    }
}