@keyframes sunRise {
  0% {
    left: 0%;
    top: 100%;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    filter: blur(1rem);
  }
  1% {
    left: 1%;
    top: 96.86%;
    width: 2.14rem;
    height: 2.14rem;
    opacity: 0.608;
  }
  2% {
    left: 2%;
    top: 93.72%;
    width: 2.28rem;
    height: 2.28rem;
    opacity: 0.616;
  }
  3% {
    left: 3%;
    top: 90.59%;
    width: 2.42rem;
    height: 2.42rem;
    opacity: 0.624;
  }
  4% {
    left: 4%;
    top: 87.47%;
    width: 2.56rem;
    height: 2.56rem;
    opacity: 0.632;
  }
  5% {
    left: 5%;
    top: 84.36%;
    width: 2.7rem;
    height: 2.7rem;
    opacity: 0.64;
  }
  6% {
    left: 6%;
    top: 81.26%;
    width: 2.84rem;
    height: 2.84rem;
    opacity: 0.648;
  }
  7% {
    left: 7%;
    top: 78.19%;
    width: 2.98rem;
    height: 2.98rem;
    opacity: 0.656;
  }
  8% {
    left: 8%;
    top: 75.13%;
    width: 3.12rem;
    height: 3.12rem;
    opacity: 0.664;
  }
  9% {
    left: 9%;
    top: 72.1%;
    width: 3.26rem;
    height: 3.26rem;
    opacity: 0.672;
  }
  10% {
    left: 10%;
    top: 69.1%;
    width: 3.4rem;
    height: 3.4rem;
    opacity: 0.68;
  }
  11% {
    left: 11%;
    top: 66.13%;
    width: 3.54rem;
    height: 3.54rem;
    opacity: 0.688;
  }
  12% {
    left: 12%;
    top: 63.19%;
    width: 3.68rem;
    height: 3.68rem;
    opacity: 0.696;
  }
  13% {
    left: 13%;
    top: 60.29%;
    width: 3.82rem;
    height: 3.82rem;
    opacity: 0.704;
  }
  14% {
    left: 14%;
    top: 57.42%;
    width: 3.96rem;
    height: 3.96rem;
    opacity: 0.712;
  }
  15% {
    left: 15%;
    top: 54.6%;
    width: 4.1rem;
    height: 4.1rem;
    opacity: 0.72;
  }
  16% {
    left: 16%;
    top: 51.82%;
    width: 4.24rem;
    height: 4.24rem;
    opacity: 0.728;
  }
  17% {
    left: 17%;
    top: 49.1%;
    width: 4.38rem;
    height: 4.38rem;
    opacity: 0.736;
  }
  18% {
    left: 18%;
    top: 46.42%;
    width: 4.52rem;
    height: 4.52rem;
    opacity: 0.744;
  }
  19% {
    left: 19%;
    top: 43.79%;
    width: 4.66rem;
    height: 4.66rem;
    opacity: 0.752;
  }
  20% {
    left: 20%;
    top: 41.22%;
    width: 4.8rem;
    height: 4.8rem;
    opacity: 0.76;
  }
  21% {
    left: 21%;
    top: 38.71%;
    width: 4.94rem;
    height: 4.94rem;
    opacity: 0.768;
  }
  22% {
    left: 22%;
    top: 36.26%;
    width: 5.08rem;
    height: 5.08rem;
    opacity: 0.776;
  }
  23% {
    left: 23%;
    top: 33.87%;
    width: 5.22rem;
    height: 5.22rem;
    opacity: 0.784;
  }
  24% {
    left: 24%;
    top: 31.55%;
    width: 5.36rem;
    height: 5.36rem;
    opacity: 0.792;
  }
  25% {
    left: 25%;
    top: 29.29%;
    width: 5.5rem;
    height: 5.5rem;
    opacity: 0.8;
  }
  26% {
    left: 26%;
    top: 27.1%;
    width: 5.64rem;
    height: 5.64rem;
    opacity: 0.808;
  }
  27% {
    left: 27%;
    top: 24.99%;
    width: 5.78rem;
    height: 5.78rem;
    opacity: 0.816;
  }
  28% {
    left: 28%;
    top: 22.95%;
    width: 5.92rem;
    height: 5.92rem;
    opacity: 0.824;
  }
  29% {
    left: 29%;
    top: 20.98%;
    width: 6.06rem;
    height: 6.06rem;
    opacity: 0.832;
  }
  30% {
    left: 30%;
    top: 19.1%;
    width: 6.2rem;
    height: 6.2rem;
    opacity: 0.84;
  }
  31% {
    left: 31%;
    top: 17.29%;
    width: 6.34rem;
    height: 6.34rem;
    opacity: 0.848;
  }
  32% {
    left: 32%;
    top: 15.57%;
    width: 6.48rem;
    height: 6.48rem;
    opacity: 0.856;
  }
  33% {
    left: 33%;
    top: 13.93%;
    width: 6.62rem;
    height: 6.62rem;
    opacity: 0.864;
  }
  34% {
    left: 34%;
    top: 12.37%;
    width: 6.76rem;
    height: 6.76rem;
    opacity: 0.872;
  }
  35% {
    left: 35%;
    top: 10.9%;
    width: 6.9rem;
    height: 6.9rem;
    opacity: 0.88;
  }
  36% {
    left: 36%;
    top: 9.52%;
    width: 7.04rem;
    height: 7.04rem;
    opacity: 0.888;
  }
  37% {
    left: 37%;
    top: 8.22%;
    width: 7.18rem;
    height: 7.18rem;
    opacity: 0.896;
  }
  38% {
    left: 38%;
    top: 7.02%;
    width: 7.32rem;
    height: 7.32rem;
    opacity: 0.904;
  }
  39% {
    left: 39%;
    top: 5.91%;
    width: 7.46rem;
    height: 7.46rem;
    opacity: 0.912;
  }
  40% {
    left: 40%;
    top: 4.89%;
    width: 7.6rem;
    height: 7.6rem;
    opacity: 0.92;
  }
  41% {
    left: 41%;
    top: 3.97%;
    width: 7.74rem;
    height: 7.74rem;
    opacity: 0.928;
  }
  42% {
    left: 42%;
    top: 3.14%;
    width: 7.88rem;
    height: 7.88rem;
    opacity: 0.936;
  }
  43% {
    left: 43%;
    top: 2.41%;
    width: 8.02rem;
    height: 8.02rem;
    opacity: 0.944;
  }
  44% {
    left: 44%;
    top: 1.77%;
    width: 8.16rem;
    height: 8.16rem;
    opacity: 0.952;
  }
  45% {
    left: 45%;
    top: 1.23%;
    width: 8.3rem;
    height: 8.3rem;
    opacity: 0.96;
  }
  46% {
    left: 46%;
    top: 0.79%;
    width: 8.44rem;
    height: 8.44rem;
    opacity: 0.968;
  }
  47% {
    left: 47%;
    top: 0.44%;
    width: 8.58rem;
    height: 8.58rem;
    opacity: 0.976;
  }
  48% {
    left: 48%;
    top: 0.2%;
    width: 8.72rem;
    height: 8.72rem;
    opacity: 0.984;
  }
  49% {
    left: 49%;
    top: 0.05%;
    width: 8.86rem;
    height: 8.86rem;
    opacity: 0.992;
  }
  50% {
    left: 50%;
    top: 0%;
    width: 9rem;
    height: 9rem;
    opacity: 1;
  }
  51% {
    left: 51%;
    top: 0.05%;
    width: 8.86rem;
    height: 8.86rem;
    opacity: 0.992;
  }
  52% {
    left: 52%;
    top: 0.2%;
    width: 8.72rem;
    height: 8.72rem;
    opacity: 0.984;
  }
  53% {
    left: 53%;
    top: 0.44%;
    width: 8.58rem;
    height: 8.58rem;
    opacity: 0.976;
  }
  54% {
    left: 54%;
    top: 0.79%;
    width: 8.44rem;
    height: 8.44rem;
    opacity: 0.968;
  }
  55% {
    left: 55%;
    top: 1.23%;
    width: 8.3rem;
    height: 8.3rem;
    opacity: 0.96;
  }
  56% {
    left: 56%;
    top: 1.77%;
    width: 8.16rem;
    height: 8.16rem;
    opacity: 0.952;
  }
  57% {
    left: 57%;
    top: 2.41%;
    width: 8.02rem;
    height: 8.02rem;
    opacity: 0.944;
  }
  58% {
    left: 58%;
    top: 3.14%;
    width: 7.88rem;
    height: 7.88rem;
    opacity: 0.936;
  }
  59% {
    left: 59%;
    top: 3.97%;
    width: 7.74rem;
    height: 7.74rem;
    opacity: 0.928;
  }
  60% {
    left: 60%;
    top: 4.89%;
    width: 7.6rem;
    height: 7.6rem;
    opacity: 0.92;
  }
  61% {
    left: 61%;
    top: 5.91%;
    width: 7.46rem;
    height: 7.46rem;
    opacity: 0.912;
  }
  62% {
    left: 62%;
    top: 7.02%;
    width: 7.32rem;
    height: 7.32rem;
    opacity: 0.904;
  }
  63% {
    left: 63%;
    top: 8.22%;
    width: 7.18rem;
    height: 7.18rem;
    opacity: 0.896;
  }
  64% {
    left: 64%;
    top: 9.52%;
    width: 7.04rem;
    height: 7.04rem;
    opacity: 0.888;
  }
  65% {
    left: 65%;
    top: 10.9%;
    width: 6.9rem;
    height: 6.9rem;
    opacity: 0.88;
  }
  66% {
    left: 66%;
    top: 12.37%;
    width: 6.76rem;
    height: 6.76rem;
    opacity: 0.872;
  }
  67% {
    left: 67%;
    top: 13.93%;
    width: 6.62rem;
    height: 6.62rem;
    opacity: 0.864;
  }
  68% {
    left: 68%;
    top: 15.57%;
    width: 6.48rem;
    height: 6.48rem;
    opacity: 0.856;
  }
  69% {
    left: 69%;
    top: 17.29%;
    width: 6.34rem;
    height: 6.34rem;
    opacity: 0.848;
  }
  70% {
    left: 70%;
    top: 19.1%;
    width: 6.2rem;
    height: 6.2rem;
    opacity: 0.84;
  }
  71% {
    left: 71%;
    top: 20.98%;
    width: 6.06rem;
    height: 6.06rem;
    opacity: 0.832;
  }
  72% {
    left: 72%;
    top: 22.95%;
    width: 5.92rem;
    height: 5.92rem;
    opacity: 0.824;
  }
  73% {
    left: 73%;
    top: 24.99%;
    width: 5.78rem;
    height: 5.78rem;
    opacity: 0.816;
  }
  74% {
    left: 74%;
    top: 27.1%;
    width: 5.64rem;
    height: 5.64rem;
    opacity: 0.808;
  }
  75% {
    left: 75%;
    top: 29.29%;
    width: 5.5rem;
    height: 5.5rem;
    opacity: 0.8;
  }
  76% {
    left: 76%;
    top: 31.55%;
    width: 5.36rem;
    height: 5.36rem;
    opacity: 0.792;
  }
  77% {
    left: 77%;
    top: 33.87%;
    width: 5.22rem;
    height: 5.22rem;
    opacity: 0.784;
  }
  78% {
    left: 78%;
    top: 36.26%;
    width: 5.08rem;
    height: 5.08rem;
    opacity: 0.776;
  }
  79% {
    left: 79%;
    top: 38.71%;
    width: 4.94rem;
    height: 4.94rem;
    opacity: 0.768;
  }
  80% {
    left: 80%;
    top: 41.22%;
    width: 4.8rem;
    height: 4.8rem;
    opacity: 0.76;
  }
  81% {
    left: 81%;
    top: 43.79%;
    width: 4.66rem;
    height: 4.66rem;
    opacity: 0.752;
  }
  82% {
    left: 82%;
    top: 46.42%;
    width: 4.52rem;
    height: 4.52rem;
    opacity: 0.744;
  }
  83% {
    left: 83%;
    top: 49.1%;
    width: 4.38rem;
    height: 4.38rem;
    opacity: 0.736;
  }
  84% {
    left: 84%;
    top: 51.82%;
    width: 4.24rem;
    height: 4.24rem;
    opacity: 0.728;
  }
  85% {
    left: 85%;
    top: 54.6%;
    width: 4.1rem;
    height: 4.1rem;
    opacity: 0.72;
  }
  86% {
    left: 86%;
    top: 57.42%;
    width: 3.96rem;
    height: 3.96rem;
    opacity: 0.712;
  }
  87% {
    left: 87%;
    top: 60.29%;
    width: 3.82rem;
    height: 3.82rem;
    opacity: 0.704;
  }
  88% {
    left: 88%;
    top: 63.19%;
    width: 3.68rem;
    height: 3.68rem;
    opacity: 0.696;
  }
  89% {
    left: 89%;
    top: 66.13%;
    width: 3.54rem;
    height: 3.54rem;
    opacity: 0.688;
  }
  90% {
    left: 90%;
    top: 69.1%;
    width: 3.4rem;
    height: 3.4rem;
    opacity: 0.68;
  }
  91% {
    left: 91%;
    top: 72.1%;
    width: 3.26rem;
    height: 3.26rem;
    opacity: 0.672;
    filter: blur(1rem);
  }
  92% {
    left: 92%;
    top: 75.13%;
    width: 3.12rem;
    height: 3.12rem;
    opacity: 0.664;
  }
  93% {
    left: 93%;
    top: 78.19%;
    width: 2.98rem;
    height: 2.98rem;
    opacity: 0.656;
  }
  94% {
    left: 94%;
    top: 81.26%;
    width: 2.84rem;
    height: 2.84rem;
    opacity: 0.648;
  }
  95% {
    left: 95%;
    top: 84.36%;
    width: 2.7rem;
    height: 2.7rem;
    opacity: 0.64;
  }
  96% {
    left: 96%;
    top: 87.47%;
    width: 2.56rem;
    height: 2.56rem;
    opacity: 0.632;
  }
  97% {
    left: 97%;
    top: 90.59%;
    width: 2.42rem;
    height: 2.42rem;
    opacity: 0.624;
  }
  98% {
    left: 98%;
    top: 93.72%;
    width: 2.28rem;
    height: 2.28rem;
    opacity: 0.616;
  }
  99% {
    left: 99%;
    top: 96.86%;
    width: 2.14rem;
    height: 2.14rem;
    opacity: 0.608;
  }
  100% {
    left: 100%;
    top: 100%;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
  }
}/*# sourceMappingURL=sunRise.css.map */